body {
    font-family: Arial;
    margin: 0;
    padding: 0;
}

header {
    background: #ddd;
    padding: 15px;
    text-align: center;
}

nav a {
    margin: 0 10px;
}

main {
    padding: 15px;
}

img {
    margin: 10px 0;
}

form {
    max-width: 350px;
}

input, select, button {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
}
